.UpdateProfile {
    margin-top: 100px;
  .container {
    display: flex;
    margin-top: 20px;
  }

  .left-part {
    flex: 1;
    text-align: center;

    .input-user-img {
      display: flex;
      justify-content: center;
      align-items:center;

      .labelImg {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid var(--accent-color);
        cursor: pointer;

        img{

            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;

        }
      }
      .inputImg {
        display: none;
      }
    }
  }

  .right-part {
    flex: 3;

    form {
      border: 1px solid var(--border-color);
      padding: 20px;
    }

    input {
      width: 100%;
      display: block;
      padding: 8px 16px;
      margin-top: 16px;
      border: 1px solid var(--border-color);
      border-radius: 4px;
    }

    .btn-primary {
      width: fit-content;
    }

    .delete-account {
      margin-top: 16px;
      background-color: red;
    }
  }
}
